.mention-modal {
  min-width: 100px;
  position: absolute;
  left: 0;
  border: 1px solid #cfcfcf;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.mention-modal__loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}